# Secrets and logs
*.secret
*.log
.env

# Cache
.eslintcache

# Output files
node_modules/
/dist

# Project files
.vscode/

# Documentation
.typedoc.json
docs.js
docs/README.md

# Vim Swap Files
_.swp
*.swp
