# Optional Things for github
examples
misc


# Secrets
*/**/*.secret
# Typescript features
tsconfig.json
src/

# Misc
node_modules
*.md 
docs.js 
LICENSE


# Dev utils
.vscode/
.prettierrc.json
.eslintcache
.eslintignore
.eslintrc