# Dev utils
.vscode/
.prettierrc.json
.eslintcache
.eslintignore
.eslintrc

# Optional Things for github
.github/
examples/
misc/
*.md
LICENSE
.travis.yml
.typedoc.json
docs.js

# Secrets
*.secret

# Typescript features
tsconfig.json
src/

# Misc
node_modules/
docs.js
browser