@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Maven+Pro&family=Montserrat:ital@1&display=swap');

h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    background-color: inherit !important;
}

.prettyprint code {
    font-size: 1rem !important;
} code .com {
    font-family: 'Montserrat', sans-serif;
} code .kwd {
    font-family: 'Montserrat', sans-serif;
} code .typ, .pln {
    font-family: 'Maven Pro', sans-serif;
}